{
  "extends": "eslint-config-egg",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      },
      {
        "usePrettierrc": true
      }
    ],
    "jsdoc/require-param": [0],
    "array-bracket-spacing": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "space-before-function-paren": [
      2,
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "linebreak-style": 0,
    "strict": 0
  }
}
